In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df=pd.read_csv('C:/Users/tian/Desktop/数据data/adults.txt')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final_weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.columns = ['年龄','工薪阶层','最终体重','教育','教育年数','婚姻状况','职业','关系','种族','性别','资本收益','资本损失','每周工作小时','本国','工资']

In [206]:
df

,年龄,工薪阶层,最终体重,教育,教育年数,婚姻状况,职业,关系,种族,性别,资本收益,资本损失,每周工作小时,本国,工资
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
df['性别']=df['性别'].apply(lambda x : 1 if x=='Male' else 0)

In [ ]:
df['工薪阶层'].unique().tolist()

In [19]:
encodes=df['工薪阶层'].unique().tolist()
df['工薪阶层']=df['工薪阶层'].apply(lambda x:encodes.index(x))

In [ ]:
df['教育'].unique().tolist()

In [17]:
encode=df['教育'].unique().tolist()
df['教育']=df['教育'].apply(lambda x:encode.index(x))

In [23]:
temp=pd.get_dummies(df['婚姻状况'])
df[temp.columns] = temp
df.drop(columns=['婚姻状况'],axis=0,inplace=True)

In [ ]:
df['职业'].unique().tolist()

In [28]:
encode=df['职业'].unique().tolist()
df['职业']=df['职业'].apply(lambda x:encode.index(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [29]:
df['关系'].unique().tolist()

['Not-in-family',
 'Husband',
 'Wife',
 'Own-child',
 'Unmarried',
 'Other-relative']

In [30]:
encode=df['关系'].unique().tolist()
df['关系']=df['关系'].apply(lambda x:encode.index(x))

In [32]:
temp=pd.get_dummies(df['种族'])
df[temp.columns] = temp
df.drop(columns=['种族'],axis=0,inplace=True)

In [36]:
df['本国'].unique().tolist()

['United-States',
 'Cuba',
 'Jamaica',
 'India',
 '?',
 'Mexico',
 'South',
 'Puerto-Rico',
 'Honduras',
 'England',
 'Canada',
 'Germany',
 'Iran',
 'Philippines',
 'Italy',
 'Poland',
 'Columbia',
 'Cambodia',
 'Thailand',
 'Ecuador',
 'Laos',
 'Taiwan',
 'Haiti',
 'Portugal',
 'Dominican-Republic',
 'El-Salvador',
 'France',
 'Guatemala',
 'China',
 'Japan',
 'Yugoslavia',
 'Peru',
 'Outlying-US(Guam-USVI-etc)',
 'Scotland',
 'Trinadad&Tobago',
 'Greece',
 'Nicaragua',
 'Vietnam',
 'Hong',
 'Ireland',
 'Hungary',
 'Holand-Netherlands']

In [37]:
encode=df['本国'].unique().tolist()
df['本国']=df['本国'].apply(lambda x:encode.index(x))

In [49]:
df.columns

Index(['年龄', '工薪阶层', '最终体重', '教育', '教育年数', '职业', '关系', '性别', '资本收益', '资本损失',
       '每周工作小时', '本国', '工资', 'Divorced', 'Married-AF-spouse',
       'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
       'Separated', 'Widowed', 'Amer-Indian-Eskimo', 'Asian-Pac-Islander',
       'Black', 'Other', 'White'],
      dtype='object')

In [68]:
df_tage=df['工资']
df_data=df[df.columns[df.columns.values!='工资']]

In [70]:
#划分数据集
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(df_data,df_tage,test_size = 0.2)

In [71]:
# 标准化
from sklearn.preprocessing import MinMaxScaler  # 0-1标准化
from sklearn.preprocessing import StandardScaler # 标准化缩放
std = StandardScaler().fit(xtrain)
xtrain_=std.transform(xtrain) # 标准化后的数据
xtest_=std.transform(xtest)  #标准化后的数据

In [73]:
from sklearn.linear_model import LogisticRegression
lrs_=LogisticRegression(
    penalty='l2', # l2  L2 惩罚项又叫正则项  防止模型下降或上升过快
    tol=0.0001, # 收敛域
    C=1.0,# 正则强度
    fit_intercept=True, # 截距项
    solver='lbfgs',# 梯度下降算子，L2:，L1:
    max_iter=100,# 最大迭代次数
).fit(xtrain_,ytrain)

In [74]:
lrs_.score(xtrain_,ytrain),lrs_.score(xtest_,ytest)

(0.8446713759213759, 0.8421618301857823)

In [79]:
lrs_.predict(xtest)[:10]

array(['<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '>50K', '<=50K'], dtype=object)

In [78]:
ytest[:10]

31101    <=50K
1976     <=50K
12784    <=50K
22138    <=50K
25291    <=50K
30280    <=50K
29286    <=50K
15423    <=50K
9766      >50K
14442    <=50K
Name: 工资, dtype: object

In [211]:
# 哑变量矩阵
# temp=pd.get_dummies(df['性别'])
# df[temp.columns] = temp
# df.drop(columns=['Female','Male'],axis=0,inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(,df_tage,test_size = 0.2)

In [ ]:
# 标准化
from sklearn.preprocessing import MinMaxScaler  # 0-1标准化
from sklearn.preprocessing import StandardScaler # 标准化缩放
std = StandardScaler().fit(xtrain)
xtrain_=std.transform(xtrain) # 标准化后的数据
xtest_=std.transform(xtest)  #标准化后的数据

In [193]:
from sklearn.linear_model import LogisticRegression
lrr=LogisticRegression(
    penalty='l2', # l2  L2 惩罚项又叫正则项  防止模型下降或上升过快

    tol=0.0001, # 收敛域
    C=1.0,# 正则强度
    fit_intercept=True, # 截距项
    solver='lbfgs',# 梯度下降算子，L2:，L1:
    max_iter=100,# 最大迭代次数
).fit(X,y)

In [79]:
a=np.array(([1,2],[2,3],[3,4],[4,5],[5,6],[6,7]))

In [101]:
a[:,0]

array([1, 2, 3, 4, 5, 6])

In [89]:
a[2:5,0:2]

array([[3, 4],
       [4, 5],
       [5, 6]])